### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
info_test.txt
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
backend/node_modules/
node_modules/
.happypack/
.idea/

#Build directory
build/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

backend/auth.js